<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Pulse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"
        integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Mood Pulse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <% if (!loggedin) { %>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/register">Register</a>
                        </li>
                        <% } %>
                            <% if (loggedin) { %>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Snapshot
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/addsnapshot">Add</a></li>
                                        <li><a class="dropdown-item active" href="/dashboard">Dashboard</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                                <% } %>
                </ul>
                </form>
            </div>
        </div>
    </nav>

    <% if (loggedin) { %>
        <h2>
            <%= `${user.name}'s Dashboard `%>
        </h2>

        <% } else { %>
            <h2>Please login or register</h2>
            <% } %>

                <% if (loggedin) { %>
                    <% if (records.length> 0) { %>
                        <div class="col-md-6 p-lg-5 mx-auto my-5">
                            <canvas id="bkgcanvas" width="500px" height="500px"></canvas>
                        </div>

                        <div class="table-responsive small">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Date/Time</th>
                                        <th scope="col">Enjoyment</th>
                                        <th scope="col">Sadness</th>
                                        <th scope="col">Anger</th>
                                        <th scope="col">Contempt</th>
                                        <th scope="col">Disgust</th>
                                        <th scope="col">Fear</th>
                                        <th scope="col">Surprise</th>
                                        <th scope="col">Context</th>
                                    </tr>
                                </thead>
                                <% const dateformat={ weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric'
                                    , hour: 'numeric' , minute: 'numeric' , hour12: true }; %>
                                    <section>
                                        <% records.forEach((row)=> { %>
                                            <% var snapshotid=row.emotion_data_id; %>
                                                <% var rawdate=new Date(row.date_time_record); %>
                                                    <% var itemdate=new
                                                        Intl.DateTimeFormat('en-GB',dateformat).format(rawdate); %>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="/editsnapshot/<%= snapshotid %>">
                                                                        <%= itemdate %>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <%= row.enjoyment %>
                                                                </td>
                                                                <td>
                                                                    <%= row.sadness %>
                                                                </td>
                                                                <td>
                                                                    <%= row.anger %>
                                                                </td>
                                                                <td>
                                                                    <%= row.contempt %>
                                                                </td>
                                                                <td>
                                                                    <%= row.disgust %>
                                                                </td>
                                                                <td>
                                                                    <%= row.fear %>
                                                                </td>
                                                                <td>
                                                                    <%= row.surprise %>
                                                                </td>
                                                                <td>
                                                                    <%= row.context_trigger %>
                                                                </td>
                                                                <% }); %>
                                                            </tr>
                                                        </tbody>
                                    </section>
                            </table>
                        </div>

                        <% } else { %>
                            <div class="container-lg py-5 h-100">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                            <div class="card-body p-5 text-center">
                                                <h1>Please create some snapshots <a class="icon-link"
                                                        href="/addsnapshot">here</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>

                                    <script
                                        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                                        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                                        crossorigin="anonymous">

                                        </script>

                                    <script>

                                        const xlabels = ["Enjoyment", "Sadness", "Anger", "Contempt", "Disgust", "Fear", "Surprise"];

                                        const newdata = `<%- JSON.stringify(data) %>`;

                                        const yvals = JSON.parse(newdata);
                                        
                                        const maxAmount = Math.max(newdata);
                                        

                                        const chartdata = {
                                            labels: xlabels,
                                            datasets: [{
                                                data: yvals,
                                                lineTension: 0,
                                                pointRadius: 3,
                                                backgroundColor: 'blue',
                                                borderCoolor: 'black',
                                                borderWidth: 1
                                            }]
                                        };

                                        const chartconfig = {
                                            type: 'bar',
                                            data: chartdata,
                                            options: {
                                                responsive: false,
                                                animation: true,
                                                maintainAspectRatio: true,
                                                scales: { y: { min: 0, max: maxAmount, ticks: { stepSize: 1 } } },
                                                plugins: {
                                                    legend: { display: false },
                                                    tooltip: { enabled: true },
                                                    title: {
                                                        display: true,
                                                        text: 'Emotion Summary',
                                                        font: { size: 20 }
                                                    }
                                                }
                                            }
                                        };

                                        const chart = new Chart('bkgcanvas', chartconfig);

                                    </script>
</body>

</html>